[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
coverage = "*"
bump2version = "*"

[packages]
dsorm = {editable = true, path = "."}
databases = "*"
aiosqlite = "*"

[pipenv]
allow_prereleases = true
