[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
coverage = "*"

[packages]
dso = {editable = true, path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
